.kitchen-loading {
  position: relative;
  width: 110px;
  height: 30px;

  .loading--box {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    opacity: 1;
    &.dbl-width {
      width: 22px;
    }
    &.upper {
      height: 18px;
    }
    &.hang {
      height: 8px;
    }
    &.sink {
      height: 5px;
      width: 2px;
    }
    &.dbl-height {
      height: 30px;
    }
  }
  .loading--box-animate {
    animation: loading--box-animation 3s infinite ease-in-out;
  }
}

@keyframes loading--box-animation {
  0% {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  10% {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  25% {
    opacity: 1;
    transform: translate(0, 0);
  }
  75% {
    opacity: 1;
    transform: translate(0, 0);
  }
  90% {
    opacity: 0;
    transform: translate(20px, 0);
  }
  100% {
    opacity: 0;
    transform: translate(20px, 0);
  }
}
